header {
   position: absolute;
   width: 1103.41px;
   height: 29.46px;
   left: 171.59px;
   top: 35.02px; 
}

.logo {
   position: absolute;
   width: 167.02px;
   height: 29.46px;
   left: 171.59px;
   top: 35.02px;
} 



