body {
    display: flex;
    background-color: ghostwhite;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li {
    margin: 0 10px;
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
}
main {
    flex-direction: row;

    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}