body {
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li {
    margin: 0 10px;
    display: flex;
    color: white;
    padding: 10px;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}